body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Rectangle {
  width: 220px;
  height: 238px;
  border: solid 1px #003366;
} 

.Violation {
  width: 64px;
  height: 19px;
  font-family: SFProText;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #003366;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.ViolationType {
  width: 47px;
  height: 19px;
  font-family: SFProText;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #003366;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 35px;
}

.Route {
  width: 168px;
  height: 19px;
  font-family: SFProText;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #003366;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 0px;
}

.Submitted {
  width: 69px;
  height: 16px;
  font-family: SFProText;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b6b6b6;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 3px;
  
}

.Time {
  width: 91px;
  height: 19px;
  font-family: SFProText;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #003366;
  padding-top: 2px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.LastViewed {
  width: 81px;
  height: 16px;
  font-family: SFProText;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #adadad;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 2px;
}

.ViewerDetails {
  width: 166px;
  height: 19px;
  font-family: SFProText;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #003366;
  padding-top: 3px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.Views {
  width: 52px;
  height: 16px;
  font-family: SFProText;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bebebe;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 2px;
}

.NumViews {
  width: 1024px;
  height: 768px;
  background-color: #ffffff;
  padding-top: 3px;
  padding-left: 20px;
}

.Notes {
  width: 52px;
  height: 16px;
  font-family: SFProText;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c6c6c6;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 2px;
}

.NumNotes{
  width: 11px;
  height: 19px;
  font-family: SFProText;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #003366;
  padding-top: 3px;
  padding-left: 20px;
}
